* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}
.container {
    width: 40%;
    padding-top: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../DI\ 001-640x480.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 0;
}

div {
    width: 8%;
    padding-top: 8%;
    margin: auto;
    border-radius: 50%;
    position: absolute;
}

.white {
    background: #fff;
    transform: translate(-50%, -50%);
}

.black {
    background: #000;
    transform: translate(-50%, -50%);
}

.left-a {
    left: 10%;
}

.left-b {
    left: 22%;
}

.left-c {
    left: 33%;
}

.left-d {
    left: 44%;
}

.left-e {
    left: 55%;
}

.left-f {
    left: 67%;
}

.left-g {
    left: 78%;
}

.left-h {
    left: 90%;
}


.top-1 {
    top: 90%;
}

.top-2 {
    top: 78%;
}

.top-3 {
    top: 67%;
}

.top-4 {
    top: 56%;
}

.top-5 {
    top: 44%;
}

.top-6 {
    top: 33%;
}

.top-7 {
    top: 22%;
}

.top-8 {
    top: 10%;
}